#articleForm .box.box-info{
    padding: 10px;
}

.btn-link{
    color: #FFFFFF !important;
    margin: 10px;
}

.btn-link:hover{
    text-decoration: none;
}

/* For Article group display*/
td.group
{
    background-color: #d5eafd !important;
    border-bottom: 1px solid #94bafd;
    border-top: 1px solid #94bafd;
}
td.expanded-group
{
    background: url("images/minus.jpg") no-repeat scroll left center transparent;
}
tr:hover td.expanded-group
{
    background: url("images/minus.jpg") no-repeat scroll left center #c0e1ff !important;
}

td.collapsed-group
{
    background: url("images/plus.jpg") no-repeat scroll left center transparent;
}
tr:hover td.collapsed-group
{
    background: url("images/plus.jpg") no-repeat scroll left center #c0e1ff !important;
}
.DataTables_sort_wrapper span
{
    float: right;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.order-status {
           list-style: none;
    margin: 0;
}
.order-status li
{
   float: left;
    width: 100px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}